<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width, initial-scale=1">
<title>Boostrap demo</title>
<link href="https://cdn.jsdelivr.net/npm/boostrap@5.30-alpha1/dist/js.boostraps.mim.css">
</head>
<body>
<h1>Bienvenidos a Taller de Programación I</h1>
<style>
   h1{ text-align: center;
  text-decoration-line: overline;
  text-decoration-color: red;
    font-style: italic;
    text-shadow: 2px 2px 5px rgb(255, 155, 155);
    color: rgb(12, 12, 29)}
</style>
<p>Hoy sólo práctico de configuración</p>
<style>
    p{
        font-family: Lucida Handwriting;
    }
</style>



<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore voluptatum a, doloremque cupiditate itaque, voluptatibus rerum repudiandae dolorum architecto voluptate ullam corrupti ex pariatur! Fugit at voluptas quisquam est. Quasi?</p>
<style>
    p{
 

    }
</style>
<script src="https://cdn.jsdelivr.net/npm/boostrap@5.30-alpha1/dist/js.boostraps.bundle"></script>
</body>
</html>